{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/independentAdjudicator.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body>    
  <div class="header1">
    <div class="left"> Register as</div>
    <div class="right"> <a href="{% url 'HomePage'%}" style="text-decoration: none; color:#FFFFFF;"> X </a></div>
  </div> 
  <div class="header2">
    <div class="leftp"> <a href="{% url 'InstituteTeamCont'%}" style="text-decoration: none; color:#FFFFFF;"> Institutional Team/Contingent </a></div>
    <div class="middle"> <a href="{% url 'CrossOpen'%}" style="text-decoration: none; color:#FFFFFF;"> Cross/Open</a></div>
    <div class="rightp"> <a href="{% url 'IndAdjudicator'%}" style="text-decoration: none; color:rgb(242, 242, 120)"> Independent Adjudicator </a></div>
  </div>
  <form action="{% url 'saveContact3' %}" method="POST">
    {% csrf_token %}
  <div class="subheading">
   Field marked <span class="redstarbig">* </span> are mandatory
  </div>
  
  <div class="adjudicatorName">
    <input name = "name_adjud" id = "name"  type="text" required>
    <label for = "name">Name</label>
  </div>
  <div class="collegeName">
    <input name = "institution_name" id = "name"  type="text" required>
    <label for = "name">Name of College/Institution</label>
  </div>
  <div class="contactNo">
    <input name = "contact_number" id = "name" type="tel" required>
    <label for = "name">Contact Number</label>
  </div>
  <div class="email">
    <input name = "email_id_head" id = "name" type="text" required>
    <label for = "name">Email ID</label>
  </div>
  <div class="altContact">
    <input name = "alt_poc_number" id = "name" type="tel" required>
    <label for = "name">Alternate Contact Number</label>
  </div>
  <div class="altEmail">
    <input name = "alt_poc_email_id" id = "name" type="text" required>
    <label for = "name">Alternate Email ID</label>
  </div>

  <button> REGISTER </button>
</form>
  </body> 
</html>